<nav>
    <a href="/">Members Only</a>
    <%if(user){%>
        <ul>
            <li>
                <a href="/create-message">Create Message</a>
            </li>
            <li>
                <a href="/become-member">Become member</a>
            </li>
            <%if(user.admin){%>
                <li>
                    <a href="/admin-board">Admin Board</a>
                </li>
            <%} else{%>
                <li>
                    <a href="/become-admin">Become Admin</a>
                </li>
            <%}%>
            <li>
                <a href="/log-out">Log out</a>
            </li>
        </ul>
    <%} else {%>
        <ul>
            <li>
                <a href="/log-in">Log in</a>
            </li>
            <li>
                <a href="/sign-up">Sign up</a>
            </li>
        </ul>
    <%}%>
</nav>